body {
    background: url('kingjames.jpg');
    text-align: center;
    font-size:  62.5%;

}

h1 {
    color: white; border-left: 2rem;
    font-size: 5.4rem;
    margin-bottom: 12rem;
    letter-spacing: 3px;
    border-bottom: 0in;
    margin-top: 15%;
    background-color: purple;
    font-weight: bold;
    text-align: center;
}


h2 {
    color: white;
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;

}


h3 {
    font-size: 2.8rem;
    font-weight: 500;
}


/* 
.container {
    width: 100px;
    height: 100vh
} */





*{
    box-sizing: border-box;
    font-size: arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    color: pink;
}

footer {
    background-color: yellow;
    font-weight: bolder;
    position: fixed;
    margin: 1rem; 
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100rem;
    height: 0px 1px;
    font-weight: bold;
    text-align: center;
}