*{
    margin: 30;
    padding: 80;
    box-sizing: border-box;
    
}


  
html, body{
    height: 100%;
    transform-box:var(0,0,0)
    
}


h2 {
    font-size: 2.5em;
    font-family:Rancho;
    border-style: solid;
    animation-name: scale;
    animation-duration: 1s;
    background-image: 
   linear-gradient(90deg, #00e3c8 0%,#fc006d 49%, #82fc00 100%);
    background-size: 200%;
    position: relative;
    padding: 3px;
    text-align: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    animation: anime 2s linear infinite;
    -webkit-animation: anime 2.5s linear infinite;
    
}
@keyframes anime {
    0%{
        background-position: 100%;
    }
    100% {
        background-position: 300%;
    }
}
      


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}


main{
    width: 100%;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black bold;
    background-image: url(./kingjaames.jpg);
    background-color : black;
    background-repeat: no-repeat;
    background-size:contain;
    border: radius 6px;
   
    
}

@BtnWidth: 300px;
@BtnHeight: 80px;
@BGColor: linear-gradient(to right, red 0%, orange 15%, yellow 30%, green 45%, blue 60%, indigo 75%, purple 90%, red 100%);
@Anim: slide 4s infinite;

:root {
  background: black;
}

.game-quiz-container{
    width: 85rem;
    height: 40rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 35px;
    font-size: 1.6em;
    background-image:linear-gradient(3deg, rgb(236, 55, 170) 10%, gold 66%, rgb(20, 228, 238) 85%, black 100%)
}

.game-details-container{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.game-details-container h1{  
    font-size: 1.5rem;
    text-decoration: underline;
}

.game-question-container{
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(126, 109, 109);
    border-radius: 25px;
    
}

.game-question-container h1{
    font-size: 2.1rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 45%;
    height: 3rem;
    border: 2px solid rgb(126, 109, 109);
    border-radius: 20px;
    overflow: hidden;
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: white;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
	background: rgb(201, 196, 186);
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 11rem;
    height: 2rem;
    border-radius: 10px;
    color: rgb(14, 5, 9);
    font-weight: 900;
    border: 4px solid rgb(231, 239, 228);
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: rgb(78, 240, 19);
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 10rem;
    width: 45rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
        font-size: 0.8rem;
     }
 
     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
       font-size: 0.9rem;
    }
 
    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}



@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }





  